*
{
padding: 0px;
margin: 0px;
}
body{

}
header{
    background-color: #4159eb;
    border-bottom: 1px solid #133783;
    height: 82px;
}
.header-block{
    width: 992px;
    margin: 0 auto;
}
.logo{
    width: 50%;
    float: left;
    ;
}
.facebook-login{
    width: 50%;
    float: left;
    background-color:#133783;
    color: rgb(229, 255, 0);
}
.password{
    color: yellow;
    background-color:#133783 ;
}
.login button{
color: yellow;
}
